body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.white-text {
  color: white;
}
.navbar {
  background-color: #7c0808;
  color: white;
  padding: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-left span {
  font-size: 1.5em;
}

.navbar-right a,
.navbar-right button {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-right button {
  background-color: #333;
  border: none;
  padding: 8px 15px;
}
.main-content {
  color: #f0f0f0;
  padding: 30px;
}

.create-account-form {
  padding: 20px;
  border-radius: 8px; 
  margin-top: 20px;
  max-width: 500px;
  margin: 0 auto; 
}

.create-account-form label {
  margin-bottom: 8px;
  color: #f0f0f0;
}

.create-account-form input {
  width: 100%; 
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
}

.create-account-form p {
  margin-top: -8px; 
  color: #f0f0f0;
}

.credit-card-info {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.credit-card-info h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.credit-card-info label {
  width: 100%; 
}

.credit-card-info input {
  width: calc(50% - 8px);
  margin-right: 16px; 
}

.credit-card-info input.cvv,
.credit-card-info input.expiration {
  width: calc(25% - 8px); 
  margin-right: 16px;
}

.credit-card-info input:last-child {
  margin-right: 0; 
}

.credit-card-info input:last-child {
  margin-right: 0; 
}

button {
  background-color: #7c0808;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.register-button {
  margin: auto;
  width: 50%;
}
