
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    /* background-image: url('./loginbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat; */
    height: 100vh;
    background-color:	#073763;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    background-color: 	#990000;
    color: #eeeeee;
    padding: 8px;
  }
  
  .navbar-left {
    float: left;
  }
  
  .main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
  }
  
  .login-section {
    width: 40%;
  }
  
  .login-section h2 {
    color: #eeeeee;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #eeeeee;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    color: #eeeeee;
    background-color: #990000;
    padding: 10px;
    cursor: pointer;
  }
  
  .options-section {
    width: 40%;
  }
  
  .options-section h2 {
    color: #eeeeee;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  
  a {
    text-decoration: none;
    color: #eeeeee;
  }
  
  a:hover {
    text-decoration: underline;
    color: #eeeeee;
  }