body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.white-text {
  color: #eeeeee;
}
.navbar {
  background-color: #990000;
  color: #eeeeee;
  padding: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-left span {
  font-size: 1.5em;
}

.navbar-right a,
.navbar-right button {
  color: #eeeeee;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-right button {
  border: none;
  padding: 8px 15px;
}

.navbar-right a:hover {
  text-decoration: underline;
  color: #eeeeee;
}

.main-content {
  color: #eeeeee;
  padding: 30px;
}

.create-account-form {
  padding: 20px;
  border-radius: 8px; 
  margin-top: 10px;
  max-width: 500px;
  margin: 0 auto; 
}

.promotion-checkbox {
  display: block;
  align-items: center;
  margin: auto;
}

.create-account-form label {
  margin-bottom: 8px;
  color: #eeeeee;
}

.create-account-form input {
  width: 100%; 
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
}

.create-account-form p {
  margin-top: -8px; 
  color: #eeeeee;
}

.credit-card-info {
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.credit-card-info h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.credit-card-input label {
  width: 100%; 
}

.credit-card-input input {
  display: block;
  margin-right: 16px; 
  margin-top: 5px;
}

.credit-card-info input.cvv,
.credit-card-info input.expiration {
  width: calc(25% - 8px); 
  margin-right: 16px;
}

.credit-card-info input:last-child {
  margin-right: 0; 
}

.credit-card-info input:last-child {
  margin-right: 0; 
}

/* button {
  background-color: #990000;
  color: #eeeeee;
  padding: 10px;
  cursor: pointer;
} */

.register-button:hover {
  text-decoration: underline;
  color: #eeeeee;
}

.edit-view button {
  display: block;
  margin: 0 auto;
}

.confirmation-view button {
  background-color: #990000;
  color: #eeeeee;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.confirmation-view button:hover {
  text-decoration: underline;
  color: #eeeeee;
}

.promotion-checkbox input[type="checkbox"]{
  width: 13px;
  height: 13px;
  padding: 25px;
  border: 5px solid black;
}
.promotion-checkbox input[type="checkbox"],
.promotion-checkbox label {
  display: inline; /* or display: inline; */
  margin-right: 8px; 
}
